@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}


body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
 background-color: rgb(248, 248, 248);
 justify-content: space-between;
 padding: 1.5rem 3rem;
 position: sticky;
  top: 0;
  overflow: hidden;
}

.navbar-items {
  display: flex;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
  color: black;
  
}

.nav-link:hover {
  text-decoration: none;
  color: rgb(174, 174, 174);
  cursor: pointer;
}

.nav-title {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

h1 {
  font-size: 7rem;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.6rem;
  color: rgb(92, 35, 66);

}

button, .navbar-link {
  transition: 0.3s
}

.hidden {
  display: none;
}

.hero-section {
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
 flex-wrap: no-wrap;
 overflow: hidden;
}

.hero-text {
  width: 60vw;
  line-height: 1.5rem;
  padding: 5rem;
  gap: 3rem;
}

.hero-section img {
  object-fit: cover;
  max-width: 100%;
  width: 50%;
}

.hero-section h4 {
  margin-top: 2rem;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
}

/*event card*/
.events {
  margin: auto;
  padding: 3rem;
display: flex;
flex-wrap: wrap;
gap: 2rem;
flex-grow: inherit;
}
.event-card {
width: 20rem;
display: flex;
flex-direction: column;
align-items: flex-start;
text-decoration: none;
color: black;

}
.event-card img {
  width: auto;
  max-width: 20rem;
}

/*single event*/
.single-event-container {
  display: flex;
  flex-direction: row;

  border-radius: 2rem;
  padding: 3rem;
  margin: 3rem;
box-shadow: 0px 0px 10px 5px lightgray
}

.single-event-container img {
  max-width: 30rem;
}

/*create event form*/

.create-event-form form{
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.create-event-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.create-event-form input {
padding: 0.5rem;
font-size: 1rem;

}
.create-event-form textarea {
  padding: 0.5rem;
  font-size: 1rem;
  
  }